* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  text-shadow: #000 1px 1px;
  color: #fff;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("C:\tela login (1)\tela_login_react-main\src\assets\wp3484419-dark-green-texture-background.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
